---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
---

<BlogPost {...post.data}>
	<Content />

  <div class="center-contents home-link">
    <a href="/">Home</a>
  </div>
</BlogPost>


<style>
  .home-link {
    padding-top:2rem;

    & a {
      background-color: var(--pico-primary-background);
      border-radius: var(--pico-border-radius);
      color: var(--pico-primary-inverse);
      font-family: var(--font-display);
      padding: 0.4rem 0.8rem;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        background-color: var(--pico-primary-hover-background);
      }
    }
  }
</style>
