---
import { Image } from 'astro:assets';
import logo from '../assets/img/brock-logo-rainbow.png';
const today = new Date();
---

<footer>
  <div class="center-contents">
    <Image src={logo} alt="Brock Lightning Rainbow logo" width="200" />
  </div>
</footer>
<style>
</style>
