---
import { Picture } from 'astro:assets';
import { SITE_TITLE } from '../consts';
// import HeaderLink from './HeaderLink.astro';
import logoDark from "../assets/img/logo-dark-long.svg";
import logoLight from "../assets/img/logo-light-long.svg";
---

<header>
  <h2 class="center-contents">
    <a href="/">
      <picture>
        <source srcset={logoLight.src} media="(prefers-color-scheme: dark)" />
        <img src={logoDark.src} alt="Brock Yard Revival" width="200" height="80" />
      </picture>
      <!-- {SITE_TITLE} -->
    </a>
  </h2>
	<nav>
	</nav>
</header>
<style>
</style>
